body {
    background-color: grey;
    color: rgb(236, 236, 236);
    font-family: 'Oswald', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    color: rgb(236, 236, 236);
}
/* Here lies the code of the header */

.head-logo {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    
}

.head-logo img {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Here lies the code for the navigation bar  */

.navigation {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: black;
    color: gray;
    padding-top: 60px;
    transition: 0.7s;
    overflow-x: hidden;

}

/* Styling the navigation Links */

.navigation ul {
    padding: 0;
}

.navigation li:hover {
    border-left: 7px solid rgb(224, 130, 7);
    background-color: rgb(8, 8, 8);
}

.navigation a {
    display: block;
    padding: 30px 30px;
    color: gray;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    color: rgb(224, 130, 7);
    transition: .5s;
}

.navigation .close {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 30px;

}

.slide a {
    font-size: 36px;
    color: rgb(70, 70, 70);
    position: fixed;
    
}

.slide a:hover {
    color: rgb(224, 130, 7);
    transition: .5s;
}

#page-content {
    padding: 20px;
    transition: margin-left .7s;
    width: 100%;
}

.controller-logo {
    display: none;
}

/* Here ends the Styling for the navigation bar for Desktop */

/* Here lies the styling for the Main  */

.wrapper {
    width: 100%;
    
}
/* BOX 1 */
.container-box {
    display: flex;
    height: 450px;
    width: 900px;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
    margin-top: 90px;
}

.container-box img {
    height: 300px;
}

.container-box a {
    width: 390px;
    height: 50px;
    bottom: 0px;
    text-decoration: none;
    font-size: 25px;
}
/* BOX 2 */
.container-box2 {
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 400px;
    align-items: center;
    margin-left: 890px;
    margin-top: -444px;
}

.container-box2 img {
    height: 280px;
    width: 650px;
}

.container-box2 a {
    bottom: 0;
    text-decoration: none;
    font-size: 25px;
}

/* BOX 4 */

.container-box4 {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
    
}

.text-aside {
    background-color: black;
    width: 670px;
}

.container-box4 img {
    width: 1200px;
    height: 590px;
    justify-self: right;
    display: block;
}

.text-aside h1 {
    font-size: 70px;
    font-weight: 900;
    padding-left: 20px;
    line-height: 70px; 
    padding-top: 20px;
}

.text-aside h5 {
    font-size: 20px;
    padding-left: 20px;
    line-height: 50px;
}

.text-aside a {
    padding-left: 20px;
    font-size: 30px;
    text-decoration: none;
    
}

/* BOX 5 */

.container-box5 {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: center;
    
}

.container-box5 h1 {
    font-size: 60px;
}

/* BOX 6 */

.container-box6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 70px;
    
}

.container-box6 h3 {
    text-align: center;
}

.container-box6 img:hover {
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
    z-index: -22;
}
 
/* BOX 7 */

.container-box7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    height: 530px;
}

.container-box7 img {
    height: 530px;
    width: 1100px;
    margin-right: 40px;
}

.background-text {
    background-color: rgb(39, 39, 39);
    height: 530px;
    width: 800px;
}

.background-text h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    margin-left: 20px;
    padding-top: 20px;
}

.background-text h5 {
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
    margin-top: 20px;
}

.background-text a {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 30px;
    text-decoration: none;
}

/* BOX 8 */

.container-box8 {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.youtube-video {
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.6);
}

.container-box9 {
    width: 98%;
    display: flex;
    height: 200px;
    background-color: rgb(39, 39, 39);
    justify-content: space-between;
}

.main-left {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    align-items: center;
}

.main-left img {
    width: 100px;
    height: 100px;
}

.text-row {
    margin-left :20px;
}

.text-row h1, h3 {
    font-weight: 300;
}

.text2-row h1, h3 {
    font-weight: 300;
}

.main-right {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    align-items: center;
}

.main-right img {
    width: 100px;
    height: 100px;
}

.text2-row {
    margin-left: 20px;
}

/* FOOTER */

.footer {
    display: flex;
    width: 98%;
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    
}

.footer-left img {
    width: 200px;
    height: 199px;
    padding-top: 40px;
}

.footer-left h1 {
    font-weight: 300;
    font-size: 40px;
}

.footer-left h3 {
    font-weight: 300;
    margin-top: 20px;
}

.footer-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    border-left: 1px solid black;
    
}

.form input {
    color: rgb(58, 56, 56);
}

.footer-right h1, h3 ,h4 {
    font-weight: 300;
    
}

.footer-right h3 {
    padding-top: 20px;
}

.footer-right h4 {
    padding-top: 90px;
}

.form {
    padding-top: 20px;
}

#email {
    width: 30%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 5px;
    border-color: rgba(0, 0, 0, 0);
}

#subscribe {
    height: 40px;
    width: 90px;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgb(58, 58, 58);
    color: white;

}

#subscribe:hover {
    cursor: pointer;
}

.end-footer {
    display: flex;
    width: 100%;
    height: 90px;
    margin-left: -20px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    margin-bottom: -22px;
    background: rgb(47,47,48);
    background: linear-gradient(90deg, rgba(47,47,48,1) 50%, rgba(0,0,0,1) 100%);
}

/* TABLET 767px RESPONSIVE */

/* Navigation Bar with 767px Responsive */

@media only screen and (max-width: 767px) {
    .navigation a {
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin-top: 40px;
    }
    .navigation li:hover {
        border-bottom: 2px solid rgb(224, 130, 7);
        border-left: none;
        transform: scale(1.2);
        transition: .5s;
    }
    .controller-logo {
        width: 110px;
        height: 110px;
        position: absolute;
        display: flex;
        top: 0;
    }

    .navigation .close {
        font-size: 50px;
        margin-top: 0;
    }

    .slide a {
        font-size: 60px;
        margin-left: 30px;
    }

    /* Head content 767px Responsive */

    .head-logo { 
        height: 200px;
    }

    .head-logo img {
        height: 150px;
        width: 150px;
    }

    /* Main content 767px Responsive */

    .container-box {
        width: 100%;
        height: 700px;
        margin-left: 100px;
        margin-top: 300px;
    }

    .container-box img {
        height: 100%;
        
    }

    .container-box a {
        width: 700px;
        height: 50px;
        text-decoration: none;
        color: rgb(197, 197, 197);
        font-size: 45px;
        padding-left: 50px;
    }

    .container-box4 {
        margin-top: 300px;
        margin-left: -20px;
    }

    .container-box2 {
        margin-top: -400px;
        
    }

    .container-box2 img {
        margin-left: 500px;
    }

    .container-box2 a {
        margin-top: 60px;
        font-size: 45px;
        color: rgb(197, 197, 197);
        width: 600px;
        margin-left: 530px;
    }

    .container-box5 {
        display: flex;
        width: 100%;
        height: 130px;
        justify-content: center;
        margin-left: 350px;
        
    }
    
    .container-box6 {
        width: 1450px;
    }
    
    .container-box8 {
        width:1500px;
    }

    .container-box9 {
        width: 1560px;
        margin-left: -20px;
    }

    .footer {
        width: 1530px;
    }

    #email {
        width: 300px;
        height: 70px;
        font-size: 27px;
    }

    #subscribe {
        height: 70px;
        font-size: 17px;
    }

    .end-footer {
        width: 1570px;
    }

}
    /* MOBILE 550px RESPONSIVE */

    /* Navigation bar 550px Responsive */

    @media only screen and (max-width: 550px) {
    .navigation a {
        font-size: 75px;
    }

    .slide a { 
        font-size: 50px;
    }

    .navigation .close {
        font-size: 60px;
        margin-top: 0;
    }

    .controller-logo {
        width: 150px;
        height: 150px;
        position: absolute;
        display: flex;
        top: 0;
    }

    .container-box5 {
        width: 880px;
    }
}
     
    /* MOBILE 400px RESPONSIVE */

    /* Navigation bar 400px Responsive */

    @media only screen and (max-width: 400px) {
        .navigation a {
            font-size: 45px;
            padding-top: 30px;
        }

        .slide a { 
        font-size: 50px;
        }
    }

    @media only screen and (max-width: 1496px) {
        .container-box {
            width: 580px;
            height: 300px;
        }

        .container-box img {
            width: 580px;
            height: 300px;
        }

        .container-box2 {
            width: 320px;
            height: 250px;
            text-align: center;
            margin-left: 700px;
        }

        .container-box2 img {
            width: 320px;
            height: 250px;
            margin-top: 160px;
        }

        .container-box3 {
            width: 320px;
            height: 230px;
            margin-top: -50px;
            margin-left: 1100px;
        }

        .container-box3 img {
            width: 320px;
            height: 230px;
        }
    }
        
    @media only screen and (min-width: 768px) and (max-width: 1496px) {
        .container-box4 {
            margin-top: 270px;
            width: 1510px;
        }

        .container-box4 img {
            margin-left: 310px;
        }

        .container-box {
            margin-left: 100px;
            margin-top: 150px;
        }

        .container-box2 {
            margin-left: 900px;
            margin-top: -400px;
        }

        .text-aside {
            width: 400px;
            position: absolute;
            height: 590px;
        }

        .container-box5 {
            
            width: 1510px;
        }

        .container-box6 {
            width: 1510px;
        }

        
    }   
    
